@import '../../assets/fonts/stylesFonts.css';

h2{
    font-family: 'AvenirNextLTPro';
    font-weight: bold;
    font-size: 28px;
    color: dodgerblue;
}

p, li, a{
    font-family: 'AvenirNextLTPro';
}